
.header-container{
    /* padding: 60px 300px;
    padding: 30px 150px; */
    /* background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%); */
}
.header-div {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.header-div h3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #1A1919
}

.header-div .links a {
    text-decoration: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;


    color: #757575;
}
.header-div .links a:hover{
    color: #e37979;
}

/* .header-div .links a:active{
    color: #7E90FE;
} */
.apply-btn {
    /* padding: 19px 28px; */
    width: 190px;
    height: 65px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    border: none;
    
    
}

.header-div .apply-btn a {
    text-decoration: none;
    font-weight: 800;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;
}
a{
    text-decoration: none;
}

@media screen and (max-width : 600px) {
    .header-container{
        text-align: center;
    }
    .links{
        margin: 10px 0;
    }


}